body {
  background-color: #333333;
  width: 100%;
  padding: 25px 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

hr {
  width: calc(100% - 20px);
}

img {
  width: 100%;
}

.theme-tab, 
.tabs-body, 
.table-of-contents {
  border: 1px solid #444444;
  box-sizing: border-box;
}

/* Body of selected tab - @body */
.tabs-body, 
.table-of-contents {
  height: auto;
  border-top: none;
}

.tabs-body {
  border-radius: 0 0 10px 10px;
}

/* Table of Contents - @table*/
.table-of-contents {
  border-bottom: none;
  padding: 10px 0;
}

.table-of-contents.repositioned {
  margin-top: 40px;
}

.tabs.repositioned {
  transform: rotateZ(-90deg);
  position: fixed;
  left: -200px;
  top: 250px;
}

/* Theme selection tabs - @tabs */
.theme-tab {
  background-color: #cccccc;
  border-radius: 10px 10px 0 0;
  height: 40px;
  overflow: hidden;
}

.theme-tab > span {
  vertical-align: middle;
}

.theme-tab > span:before {
  content: '\25CF';
  font-size: 25px;
  margin-right: 10px;
}

.theme-tab:hover {
  cursor: pointer;
}

.theme-tab.selected {
  border-bottom: none;
  cursor: default;
  background-color: #eeeeee;
}

/* Logos - @logos */
.logo-container {
  height: calc(100% - 20px);
  padding: 10px 0;
}

.logo-container img {
  max-width: 300px;
}

.logo-container .logo-transparent {
  background: #44444422;
  border-radius: 100%;
}

.long-logo-container {
  height: calc(100% - 20px);
  padding: 60px 0;
}

.long-logo-container .logo-transparent {
  background: #44444422;
  border-radius: 10px;
}

/* Imagery - @imagery */

/* Icons - @icons */
.icon-container,
.white-icon-container {
  margin: 10px;
}

.icon-container {
  background: #EEEEEE22;
  border-radius: 10px;
}

.white-icon-container {
  background: #44444422;
  border-radius: 10px;
}

.icon-sm {
  width: 20px;
}

.icon-md {
  width: 40px;
}

.icon-lg {
  width: 60px;
}

/* Fonts - @fonts */
.font-title-subtext {
  font-size: 10px;
}

/* Color Palette base - @color-palette*/
#primary-color h3,
#secondary-color h3,
#primary-background-color h3,
#secondary-background-color h3 {
  text-align: center;
}

#electric-power-color,
#chemical-processing-color,
#terminals-color,
#metals-minerals-color,
#pipelines-color,
#pulp-paper-wood-color,
#production-color,
#food-beverage-color,
#alternative-fuels-color,
#industrial-manufacturing-color,
#petroleum-refining-color,
#pharmaceutical-biotech-color {
  color: white;
  text-align: center;
  border-radius: 7px;
  margin: 4px 0;
  height: 25px;
}

/* Specialty Colors - @specialty*/
#specialty-color {
  white-space: nowrap;
}

#specialty-color .text-right {
  margin: auto 0;
}

#electric-power-color {
  background-color: #990000;
}

#chemical-processing-color {
  background-color: #007EA8;
}

#terminals-color {
  background-color: #C75300;
}

#metals-minerals-color {
  background-color: #993A00;
}

#pipelines-color {
  background-color: #C77500;
}

#pulp-paper-wood-color {
  background-color: #227722;
}

#production-color {
  background-color: #C79500;
}

#food-beverage-color {
  background-color: #CC3333;
}

#alternative-fuels-color {
  background-color: #55BB55;
}

#industrial-manufacturing-color {
  background-color: #1C4694;
}

#petroleum-refining-color {
  background-color: #1A4E69;
}

#pharmaceutical-biotech-color {
  background-color: #662C98;
}


/* Dark Theme - @dark */
.dark-theme p,
.dark-theme span,
.dark-theme.theme-tab span,
.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5 {
  color:  #eeeeee
}

.dark-theme .theme-tab.selected {
  background-color: #444444;
}

.dark-theme.theme-tab > span:before,
.dark-theme #primary-color:before {
  color: #F39C12;
}

.dark-theme.theme-tab {
  background-color: #333333;
}

.dark-theme .tabs-body, 
.dark-theme .table-of-contents {
  background-color: #444444;
}

.dark-theme #primary-color circle {
  fill: #F39C12;
}

.dark-theme #secondary-color circle {
  fill: #337ab7;
}

.dark-theme #primary-background-color circle {
  fill: #444444;
  stroke: #EEEEEE;
}

.dark-theme #secondary-background-color circle {
  fill: #333333;
  stroke: #EEEEEE;
}

/* Light Theme - @light */
.light-theme p,
.light-theme span,
.light-theme.theme-tab span,
.light-theme h1,
.light-theme h2,
.light-theme h3,
.light-theme h4,
.light-theme h5 {
  color:  #333333
}

.light-theme .theme-tab.selected {
  background-color: #AAAAAA;
}

.light-theme.theme-tab > span:before,
.light-theme #primary-color:before {
  color: #1C4695;
}

.light-theme.theme-tab {
  background-color: #888888;
}

.light-theme .tabs-body,
.light-theme .table-of-contents {
  background-color: #AAAAAA;
}

.light-theme #primary-color circle {
  fill: #F39C12;
}

.light-theme #secondary-color circle {
  fill: #337ab7;
}

.light-theme #primary-background-color circle {
  fill: #AAAAAA;
  stroke: #333333;
}

.light-theme #secondary-background-color circle {
  fill: #888888;
}

/* Monochrome Theme - @monochrome */
.monochrome-theme.theme-tab > span:before,
.monochrome-theme #primary-color:before {
  color: #444444;
}

.monochrome-theme .tabs-body,
.monochrome-theme .table-of-contents {
  background-color: #eeeeee;
}

.monochrome-theme #primary-color circle {
  fill: #444444;
}

.monochrome-theme #secondary-color circle {
  fill: #666666;
}

.monochrome-theme #primary-background-color circle {
  fill: #EEEEEE;
  stroke: #333333;
}

.monochrome-theme #secondary-background-color circle {
  fill: #CCCCCC;
}
