body {
  background-color: #111111;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 25px 50px;
  width: 100%;
}

* {
  display: inline-block;
  box-sizing: border-box;
}

hr {
  width: calc(100% - 20px);
}

img {
  width: 100%;
}

.theme-tab, 
.tabs-body, 
.table-of-contents {
  border: 1px solid #444444;
  box-sizing: border-box;
}

/* Body of selected tab - @body */
.tabs-body, 
.table-of-contents {
  border-top: none;
  height: auto;
}

.tabs-body {
  border-radius: 0 0 10px 10px;
}

/* Table of Contents - @table*/
.table-of-contents {
  border-bottom: none;
  padding: 10px 0;
}

.table-of-contents.repositioned {
  margin-top: 40px;
}

#table-of-contents-arrow {
  margin: 0 0 0 10px;
  cursor: pointer;
  -moz-transition: transform 150ms ease;
  -webkit-transition: transform 150ms ease;
  -o-transition: transform 150ms ease;
  -ms-transition: transform 150ms ease;        
  transition: transform 150ms ease;
}

#table-of-contents-arrow.collapsed {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); 
}

#table-of-contents-arrow.expanded {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg); 
}

#table-of-contents-list {
  overflow: hidden;
  -moz-transition: max-height 500ms ease, overflow 500ms ease;
  -webkit-transition: max-height 500ms ease, overflow 500ms ease;
  -o-transition: max-height 500ms ease, overflow 500ms ease;
  -ms-transition: max-height 500ms ease, overflow 500ms ease;      
  transition: max-height 500ms ease, overflow 500ms ease;
}

#table-of-contents-list.collapsed{ 
  max-height: 0px;
}

#table-of-contents-list.expanded{ 
  max-height: 400px;
}

.table-of-contents > ul li > p {
  margin: 0 5px 0 0;
}

/* Theme selection tabs - @tabs */
.tabs.repositioned {
  left: -200px;
  position: fixed;
  transform: rotateZ(-90deg);
  transition: 150ms;
  transition-property: top;
}

.tabs.repositioned.not-bottom {
  top: 250px;
}

.tabs.repositioned.bottom {
  top: calc(100% - 350px);
}

.theme-tab {
  border-radius: 10px 10px 0 0;
  height: 40px;
  overflow: hidden;
}

.theme-tab > span {
  vertical-align: middle;
}

.theme-tab > span:before {
  content: '\25CF';
  font-size: 25px;
  margin-right: 10px;
}

.theme-tab:hover {
  cursor: pointer;
}

.theme-tab.selected {
  border-bottom: none;
  cursor: default;
}

/* Logos - @logos */
.logo-container {
  height: calc(100% - 20px);
  padding: 10px 0;
}

.logo-container img {
  max-width: 300px;
}

.logo-container .logo-transparent {
  background: #44444422;
  border-radius: 100%;
}

.long-logo-container {
  height: calc(100% - 20px);
  padding: 60px 0;
}

.long-logo-container .logo-transparent {
  background: #44444422;
  border-radius: 10px;
}

/* Imagery - @imagery */

/* Icons - @icons */
.icon-container,
.white-icon-container {
  margin: 10px;
}

.icon-container {
  background: #EEEEEE22;
  border-radius: 10px;
}

.white-icon-container {
  background: #44444422;
  border-radius: 10px;
}

.icon-sm {
  width: 20px;
}

.icon-md {
  width: 40px;
}

.icon-lg {
  width: 60px;
}

/* Fonts - @fonts */
.font-title-subtext {
  font-size: 10px;
}

#font > div > p {
  margin-bottom: 0.5rem;
}

#font .text-truncate {
  width: inherit;
}

/* Color Palette base - @color-palette*/
#primary-color,
#secondary-color,
#primary-background-color,
#secondary-background-color {
  text-align: center;
}

#electric-power-color,
#chemical-processing-color,
#terminals-color,
#metals-minerals-color,
#pipelines-color,
#pulp-paper-wood-color,
#production-color,
#food-beverage-color,
#alternative-fuels-color,
#industrial-manufacturing-color,
#petroleum-refining-color,
#pharmaceutical-biotech-color {
  border-radius: 7px;
  color: #FFFFFF;
  height: 25px;
  margin: 4px 0;
  padding: 0;
  text-align: center;
}

/* Specialty Colors - @specialty*/
#specialty-color {
  white-space: nowrap;
}

#specialty-color .text-right {
  margin: auto 0;
}

#electric-power-color {
  background-color: #990000;
}

#chemical-processing-color {
  background-color: #007EA8;
}

#terminals-color {
  background-color: #C75300;
}

#metals-minerals-color {
  background-color: #993A00;
}

#pipelines-color {
  background-color: #C77500;
}

#pulp-paper-wood-color {
  background-color: #227722;
}

#production-color {
  background-color: #C79500;
}

#food-beverage-color {
  background-color: #CC3333;
}

#alternative-fuels-color {
  background-color: #55BB55;
}

#industrial-manufacturing-color {
  background-color: #1C4694;
}

#petroleum-refining-color {
  background-color: #1A4E69;
}

#pharmaceutical-biotech-color {
  background-color: #662C98;
}


/* Dark Theme - @dark */
.dark-theme p,
.dark-theme span,
.dark-theme.theme-tab span,
.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5 {
  color:  #EEEEEE
}

.dark-theme.theme-tab,
.dark-theme .tabs-body, 
.dark-theme .table-of-contents {
  border: 1px solid #EEEEEE;
}

.dark-theme .theme-tab.selected {
  background-color: #444444;
  border-bottom: none;
}

.dark-theme .tabs-body{
  border-top: none;
}

.dark-theme .table-of-contents {
  border-bottom: none;
  border-top: none;
}

.dark-theme.theme-tab > span:before,
.dark-theme #primary-color:before {
  color: #F39C12;
}

.dark-theme.theme-tab {
  background-color: #333333;
  border-bottom: none;
}

.dark-theme .tabs-body, 
.dark-theme .table-of-contents {
  background-color: #444444;
}

.dark-theme #primary-color circle {
  fill: #F39C12;
}

.dark-theme #secondary-color circle {
  fill: #337AB7;
}

.dark-theme #primary-background-color circle {
  fill: #444444;
  stroke: #EEEEEE;
}

.dark-theme #secondary-background-color circle {
  fill: #333333;
  stroke: #EEEEEE;
}

/* Light Theme - @light */
.light-theme p,
.light-theme span,
.light-theme.theme-tab span,
.light-theme h1,
.light-theme h2,
.light-theme h3,
.light-theme h4,
.light-theme h5 {
  color:  #333333
}

.light-theme.theme-tab,
.light-theme .tabs-body, 
.light-theme .table-of-contents {
  border: 1px solid #333333;

}

.light-theme .theme-tab.selected {
  background-color: #EEEEEE;
  border-bottom: none;
}

.light-theme .tabs-body {
  border-top: none;
}

.light-theme .table-of-contents {
  border-bottom: none;
  border-top: none;
}

.light-theme.theme-tab > span:before,
.light-theme #primary-color:before {
  color: #337AB7;
}

.light-theme.theme-tab {
  background-color: #CCCCCC;
  border-bottom: none;
}

.light-theme .tabs-body,
.light-theme .table-of-contents {
  background-color: #EEEEEE;
}

.light-theme #primary-color circle {
  fill: #F39C12;
}

.light-theme #secondary-color circle {
  fill: #337ab7;
}

.light-theme #primary-background-color circle {
  fill: #EEEEEE;
  stroke: #333333;
}

.light-theme #secondary-background-color circle {
  fill: #CCCCCC;
}

/* Monochrome Theme - @monochrome */
.monochrome-theme p,
.monochrome-theme span,
.monochrome-theme.theme-tab span,
.monochrome-theme h1,
.monochrome-theme h2,
.monochrome-theme h3,
.monochrome-theme h4,
.monochrome-theme h5 {
  color:  #000000
}

.monochrome-theme.theme-tab,
.monochrome-theme .tabs-body, 
.monochrome-theme .table-of-contents {
  border: 1px solid #000000;

}

.monochrome-theme .theme-tab.selected {
  background-color: #AAAAAA;
  border-bottom: none;
}

.monochrome-theme .tabs-body {
  border-top: none;
}

.monochrome-theme .table-of-contents {
  border-bottom: none;
  border-top: none;
}

.monochrome-theme.theme-tab > span:before,
.monochrome-theme #primary-color:before {
  color: #444444;
}

.monochrome-theme.theme-tab {
  background-color: #888888;
  border-bottom: none;
}

.monochrome-theme .tabs-body,
.monochrome-theme .table-of-contents {
  background-color: #AAAAAA;
}

.monochrome-theme #primary-color circle {
  fill: #444444;
}

.monochrome-theme #secondary-color circle {
  fill: #666666;
}

.monochrome-theme #primary-background-color circle {
  fill: #AAAAAA;
  stroke: #333333;
}

.monochrome-theme #secondary-background-color circle {
  fill: #888888;
}

/* Responsive Font */
@media only screen and (max-width: 425px) {
  .tabs-body {
    font-size: 0.8rem;
  }
}